USE [master]
GO
/****** Nesnesi: Database [HastaTakipSistemi] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE DATABASE [HastaTakipSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HastaTakipSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HastaTakipSistemi.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HastaTakipSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HastaTakipSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HastaTakipSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HastaTakipSistemi]
GO
/****** Nesnesi: Table [dbo].[tblHastalar] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHastalar](
	[hastaID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[hastaDosyaNo] [varchar](10) NULL,
	[hastaAd] [nvarchar](100) NOT NULL,
	[hastaSoyad] [nvarchar](100) NOT NULL,
	[hastaTel] [char](11) NOT NULL,
	[hastaAdres] [nvarchar](250) NOT NULL,
	[hastaCinsiyet] [nvarchar](20) NOT NULL,
	[hastaDogumTarihi] [date] NOT NULL,
	[hastaOkul] [nvarchar](200) NOT NULL,
	[hastaSinif] [tinyint] NULL,
	[hastaOkulBasarisi] [nvarchar](10) NOT NULL,
	[hastaBoy] [tinyint] NULL,
	[hastaKilo] [tinyint] NULL,
	[hastaYonlendiren] [nvarchar](100) NOT NULL,
	[hastaBasvuruNedeni] [nvarchar](500) NOT NULL,
	[hastaBasvuruTarihi] [date] NULL,
	[hastaAktif] [bit] NOT NULL,
 CONSTRAINT [PK_HastaID] PRIMARY KEY CLUSTERED 
(
	[hastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HastaTC] UNIQUE NONCLUSTERED 
(
	[hastaTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblDoktorlar] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoktorlar](
	[doktorID] [smallint] IDENTITY(1,1) NOT NULL,
	[doktorSicilNo] [varchar](20) NOT NULL,
	[doktorAd] [nvarchar](100) NOT NULL,
	[doktorSoyad] [nvarchar](100) NOT NULL,
	[doktorTel] [varchar](13) NOT NULL,
	[doktorBrans] [nvarchar](100) NOT NULL,
	[doktorKurumBaslangicTarih] [date] NULL,
	[doktorKurumAyrilisTarih] [date] NULL,
 CONSTRAINT [PK_DoktorID] PRIMARY KEY CLUSTERED 
(
	[doktorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DoktorSicilNo] UNIQUE NONCLUSTERED 
(
	[doktorSicilNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblTanilar] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTanilar](
	[taniID] [smallint] IDENTITY(1,1) NOT NULL,
	[taniAdi] [nvarchar](300) NOT NULL,
	[taniKodu] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TaniID] PRIMARY KEY CLUSTERED 
(
	[taniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblHastaTani] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHastaTani](
	[hastaTaniID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[doktorID] [smallint] NOT NULL,
	[taniID] [smallint] NOT NULL,
	[taniTarih] [date] NULL,
	[mentalDurumMuayenesi] [nvarchar](max) NULL,
 CONSTRAINT [PK_HastaTaniID] PRIMARY KEY CLUSTERED 
(
	[hastaTaniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_HastaGenelBilgi] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--VIEW
--HASTA BİLGİLERİ
CREATE VIEW [dbo].[vw_HastaGenelBilgi]
AS
SELECT

H.hastaDosyaNo,
H.hastaTC,
H.hastaAd,
H.hastaSoyad,
H.hastaDogumTarihi,
D.doktorAd,
D.doktorSoyad,
T.taniAdi,
HT.taniTarih

FROM tblHastalar H

LEFT JOIN tblHastaTani HT
ON H.hastaTC=HT.hastaTC

LEFT JOIN tblDoktorlar D
ON HT.doktorID=D.doktorID

LEFT JOIN tblTanilar T
ON HT.taniID=T.taniID;

GO
/****** Nesnesi: Table [dbo].[tblRandevuSaatler] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRandevuSaatler](
	[saatID] [tinyint] IDENTITY(1,1) NOT NULL,
	[randevuBaslangicSaat] [time](0) NOT NULL,
	[randevuBitisSaat] [time](0) NOT NULL,
 CONSTRAINT [PK_RandevuSaat] PRIMARY KEY CLUSTERED 
(
	[saatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblRandevuTarihi] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRandevuTarihi](
	[randevuTarihID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[doktorID] [smallint] NOT NULL,
	[saatID] [tinyint] NOT NULL,
	[randevuTarih] [date] NOT NULL,
	[randevuOlusturmaTarihi] [date] NULL,
	[randevuDurum] [nvarchar](20) NULL,
 CONSTRAINT [PK_RandevuID] PRIMARY KEY CLUSTERED 
(
	[randevuTarihID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DoktorRandevuCakisma] UNIQUE NONCLUSTERED 
(
	[doktorID] ASC,
	[randevuTarih] ASC,
	[saatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_RandevuDetay] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--RANDEVU DETAYLARI
CREATE VIEW [dbo].[vw_RandevuDetay]
AS

SELECT

H.hastaAd,
H.hastaSoyad,

D.doktorAd,
D.doktorSoyad,

RS.randevuBaslangicSaat,
RS.randevuBitisSaat,

RT.randevuTarih,
RT.randevuDurum

FROM tblRandevuTarihi RT

INNER JOIN tblHastalar H
ON RT.hastaTC=H.hastaTC

INNER JOIN tblDoktorlar D
ON RT.doktorID=D.doktorID

INNER JOIN tblRandevuSaatler RS
ON RT.saatID=RS.saatID;
GO
/****** Nesnesi: Table [dbo].[tblTestSonuc] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTestSonuc](
	[testSonucID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[psikologID] [tinyint] NOT NULL,
	[testID] [tinyint] NOT NULL,
	[testTarih] [date] NOT NULL,
	[testSonuc] [nvarchar](50) NULL,
	[testDegerlendirme] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestSonucID] PRIMARY KEY CLUSTERED 
(
	[testSonucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblPsikologlar] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsikologlar](
	[psikologID] [tinyint] IDENTITY(1,1) NOT NULL,
	[psikologSicilNo] [varchar](10) NULL,
	[psikologAd] [nvarchar](100) NOT NULL,
	[psikologSoyad] [nvarchar](100) NOT NULL,
	[psikologTel] [varchar](13) NOT NULL,
 CONSTRAINT [PK_PsikologId] PRIMARY KEY CLUSTERED 
(
	[psikologID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PsikologSicilNo] UNIQUE NONCLUSTERED 
(
	[psikologSicilNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblTestler] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTestler](
	[testID] [tinyint] IDENTITY(1,1) NOT NULL,
	[testAdi] [nvarchar](100) NOT NULL,
	[testBilgi] [nvarchar](500) NULL,
 CONSTRAINT [PK_testID] PRIMARY KEY CLUSTERED 
(
	[testID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_TestSonuclari] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TEST SONUCLARI
CREATE VIEW [dbo].[vw_TestSonuclari]
AS

SELECT

H.hastaAd,
H.hastaSoyad,

P.psikologAd,
P.psikologSoyad,

T.testAdi,

TS.testTarih,

TS.testSonuc

FROM tblTestSonuc TS

INNER JOIN tblHastalar H
ON TS.hastaTC=H.hastaTC

INNER JOIN tblPsikologlar P
ON TS.psikologID=P.psikologID

INNER JOIN tblTestler T
ON TS.testID=T.testID; 
GO
/****** Nesnesi: Table [dbo].[tblAileBilgileri] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAileBilgileri](
	[aileBilgileriID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[anneYasiyorMu] [bit] NOT NULL,
	[anneAd] [nvarchar](100) NULL,
	[anneSoyad] [nvarchar](100) NULL,
	[anneYas] [tinyint] NULL,
	[anneEgitim] [nvarchar](100) NULL,
	[anneIs] [nvarchar](100) NULL,
	[anneTel] [varchar](13) NULL,
	[anneAdres] [nvarchar](200) NULL,
	[babaYasiyorMu] [bit] NOT NULL,
	[babaAd] [nvarchar](100) NULL,
	[babaSoyad] [nvarchar](100) NULL,
	[babaYas] [tinyint] NULL,
	[babaEgitim] [nvarchar](100) NULL,
	[babaIs] [nvarchar](100) NULL,
	[babaTel] [varchar](13) NULL,
	[babaAdres] [nvarchar](200) NULL,
	[uveyVeyaKoruyucuVarMi] [bit] NOT NULL,
	[uveyEbeveynTuru] [nvarchar](30) NULL,
	[uveyAd] [nvarchar](100) NULL,
	[uveySoyad] [nvarchar](100) NULL,
	[uveyYas] [tinyint] NULL,
	[uveyEgitim] [nvarchar](100) NULL,
	[uveyIs] [nvarchar](100) NULL,
	[uveyTel] [varchar](20) NULL,
	[uveyAdres] [nvarchar](200) NULL,
	[uveyYasiyorMu] [bit] NULL,
	[akrabaEvliligi] [bit] NOT NULL,
	[aileTipi] [nvarchar](15) NULL,
	[ebeveynDurumu] [nvarchar](15) NULL,
	[kardesler] [nvarchar](300) NULL,
	[ailePsikiyatrikOyku] [nvarchar](400) NULL,
	[aileTıbbiOyku] [nvarchar](400) NULL,
	[aileEkNotlar] [nvarchar](max) NULL,
 CONSTRAINT [PK_AileBilgileri_AileBilgileriID] PRIMARY KEY CLUSTERED 
(
	[aileBilgileriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblAileOykusu] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAileOykusu](
	[aileOykuID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[anneBabaninKisiselOykusu] [nvarchar](max) NULL,
	[anneBabaninEvlilikOykusu] [nvarchar](max) NULL,
	[aileOzellikleri] [nvarchar](max) NULL,
	[anneBabaKardesler] [nvarchar](max) NULL,
 CONSTRAINT [PK_AileOykusu_AileOykuID] PRIMARY KEY CLUSTERED 
(
	[aileOykuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblAltKumeSonuc] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAltKumeSonuc](
	[altKumeSonucID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[altKumeID] [tinyint] NOT NULL,
	[altKumeSonuc] [nvarchar](100) NULL,
	[altKumeYorum] [nvarchar](400) NULL,
 CONSTRAINT [PK_AltKumeSonucID] PRIMARY KEY CLUSTERED 
(
	[altKumeSonucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblGelisimselOyku] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGelisimselOyku](
	[gelisimOykuID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[dogumAnneYasi] [tinyint] NULL,
	[dogumBabaYasi] [tinyint] NULL,
	[dogumHaftasi] [tinyint] NULL,
	[dogumSekli] [nvarchar](50) NULL,
	[dogumKomplikasyonu] [nvarchar](400) NULL,
	[dogumAgirligi] [smallint] NULL,
	[planlıGebelikMi] [bit] NULL,
	[gebeKalmadaGucluk] [nvarchar](400) NULL,
	[aileCinsiyetBeklentisi] [nvarchar](300) NULL,
	[aileDogumaTepki] [nvarchar](300) NULL,
	[oturmaYasi] [tinyint] NULL,
	[emeklemeYasi] [tinyint] NULL,
	[yurumeYasi] [tinyint] NULL,
	[ilkSozcukYasi] [tinyint] NULL,
	[ilkCumleYasi] [tinyint] NULL,
	[tuvaletEgitimi] [nvarchar](400) NULL,
	[gecirilenKaza] [nvarchar](600) NULL,
	[bebeklikDonemi] [nvarchar](max) NULL,
	[cocuklukDonemi] [nvarchar](max) NULL,
	[okulOykusu] [nvarchar](max) NULL,
	[sosyalIliskileri] [nvarchar](max) NULL,
	[kisilikOzellikleri] [nvarchar](600) NULL,
	[gelisimselOykuEkNot] [nvarchar](max) NULL,
 CONSTRAINT [PK_GelisimselOyku_GelisimOykuID] PRIMARY KEY CLUSTERED 
(
	[gelisimOykuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblHastaTedavi] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHastaTedavi](
	[tedaviID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[doktorID] [smallint] NOT NULL,
	[ilacID] [smallint] NOT NULL,
	[ilacDozu] [nvarchar](40) NOT NULL,
	[ilacBaslangicTarihi] [date] NULL,
	[ilacBitisTarihi] [date] NULL,
	[ilacYanEtkiler] [nvarchar](600) NULL,
	[tedaviNotlari] [nvarchar](max) NULL,
 CONSTRAINT [PK_TedaviID] PRIMARY KEY CLUSTERED 
(
	[tedaviID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblIlaclar] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIlaclar](
	[ilacID] [smallint] IDENTITY(1,1) NOT NULL,
	[ilacAdi] [nvarchar](100) NOT NULL,
	[ilacEtkenMadde] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_IlacID] PRIMARY KEY CLUSTERED 
(
	[ilacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblOlcekler] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOlcekler](
	[olcekID] [tinyint] IDENTITY(1,1) NOT NULL,
	[olcekAdi] [nvarchar](100) NOT NULL,
	[olcekBilgi] [nvarchar](300) NULL,
 CONSTRAINT [PK_olcekID] PRIMARY KEY CLUSTERED 
(
	[olcekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblOlcekSonuc] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOlcekSonuc](
	[olcekSonucID] [int] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[doktorID] [smallint] NOT NULL,
	[olcekID] [tinyint] NOT NULL,
	[olcekTarih] [date] NULL,
	[olcekPuan] [tinyint] NULL,
	[olcekYorum] [nvarchar](200) NULL,
	[olcekUygulanan] [nvarchar](20) NULL,
 CONSTRAINT [PK_OlcekSonucID] PRIMARY KEY CLUSTERED 
(
	[olcekSonucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblRandevuNotlari] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRandevuNotlari](
	[randevuNotID] [smallint] IDENTITY(1,1) NOT NULL,
	[hastaTC] [char](11) NOT NULL,
	[doktorID] [smallint] NOT NULL,
	[randevuTarihID] [int] NOT NULL,
	[gorusmeTipi] [nvarchar](20) NULL,
	[gorusmeNotu] [nvarchar](max) NULL,
	[sonrakiRandevuTarihi] [date] NULL,
 CONSTRAINT [PK_RandevuNotID] PRIMARY KEY CLUSTERED 
(
	[randevuNotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tblTestAltKumeler] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTestAltKumeler](
	[testAltKumeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[testALtKumeAdi] [nvarchar](100) NOT NULL,
	[testAltKumeAciklama] [nvarchar](500) NULL,
	[testID] [tinyint] NULL,
 CONSTRAINT [PK_TestAltKumeID] PRIMARY KEY CLUSTERED 
(
	[testAltKumeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_HastaAd] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE NONCLUSTERED INDEX [IX_HastaAd] ON [dbo].[tblHastalar]
(
	[hastaAd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_HastaAdSoyad] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE NONCLUSTERED INDEX [IX_HastaAdSoyad] ON [dbo].[tblHastalar]
(
	[hastaAd] ASC,
	[hastaSoyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_HastaSoyad] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE NONCLUSTERED INDEX [IX_HastaSoyad] ON [dbo].[tblHastalar]
(
	[hastaSoyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_HastaTC] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE NONCLUSTERED INDEX [IX_HastaTC] ON [dbo].[tblHastalar]
(
	[hastaTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_DoktorRandevu] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE NONCLUSTERED INDEX [IX_DoktorRandevu] ON [dbo].[tblRandevuTarihi]
(
	[doktorID] ASC,
	[randevuTarih] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_RandevuTarih] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE NONCLUSTERED INDEX [IX_RandevuTarih] ON [dbo].[tblRandevuTarihi]
(
	[randevuTarih] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_TaniAdi] Betik Tarihi: 28.07.2026 12:08:13 ******/
CREATE NONCLUSTERED INDEX [IX_TaniAdi] ON [dbo].[tblTanilar]
(
	[taniAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblAileBilgileri] ADD  DEFAULT ((1)) FOR [anneYasiyorMu]
GO
ALTER TABLE [dbo].[tblAileBilgileri] ADD  DEFAULT ((1)) FOR [babaYasiyorMu]
GO
ALTER TABLE [dbo].[tblAileBilgileri] ADD  DEFAULT ((0)) FOR [uveyVeyaKoruyucuVarMi]
GO
ALTER TABLE [dbo].[tblHastalar] ADD  DEFAULT (getdate()) FOR [hastaBasvuruTarihi]
GO
ALTER TABLE [dbo].[tblHastalar] ADD  DEFAULT ((1)) FOR [hastaAktif]
GO
ALTER TABLE [dbo].[tblHastaTani] ADD  DEFAULT (getdate()) FOR [taniTarih]
GO
ALTER TABLE [dbo].[tblOlcekSonuc] ADD  DEFAULT (getdate()) FOR [olcekTarih]
GO
ALTER TABLE [dbo].[tblRandevuTarihi] ADD  DEFAULT (getdate()) FOR [randevuOlusturmaTarihi]
GO
ALTER TABLE [dbo].[tblRandevuTarihi] ADD  CONSTRAINT [DF_RandevuDurum]  DEFAULT ('Planlandı') FOR [randevuDurum]
GO
ALTER TABLE [dbo].[tblAileBilgileri]  WITH CHECK ADD  CONSTRAINT [FK_AileBilgileri_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAileBilgileri] CHECK CONSTRAINT [FK_AileBilgileri_HastaTC]
GO
ALTER TABLE [dbo].[tblAileOykusu]  WITH CHECK ADD  CONSTRAINT [FK_AileOykusu_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAileOykusu] CHECK CONSTRAINT [FK_AileOykusu_HastaTC]
GO
ALTER TABLE [dbo].[tblAltKumeSonuc]  WITH CHECK ADD  CONSTRAINT [FK_AltKumeSonuc_AltKumeID] FOREIGN KEY([altKumeID])
REFERENCES [dbo].[tblTestAltKumeler] ([testAltKumeID])
GO
ALTER TABLE [dbo].[tblAltKumeSonuc] CHECK CONSTRAINT [FK_AltKumeSonuc_AltKumeID]
GO
ALTER TABLE [dbo].[tblAltKumeSonuc]  WITH CHECK ADD  CONSTRAINT [FK_AltKumeSonuc_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAltKumeSonuc] CHECK CONSTRAINT [FK_AltKumeSonuc_HastaTC]
GO
ALTER TABLE [dbo].[tblGelisimselOyku]  WITH CHECK ADD  CONSTRAINT [FK_GelisimselOyku_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
GO
ALTER TABLE [dbo].[tblGelisimselOyku] CHECK CONSTRAINT [FK_GelisimselOyku_HastaTC]
GO
ALTER TABLE [dbo].[tblHastaTani]  WITH CHECK ADD  CONSTRAINT [FK_HastaTani_DoktorID] FOREIGN KEY([doktorID])
REFERENCES [dbo].[tblDoktorlar] ([doktorID])
GO
ALTER TABLE [dbo].[tblHastaTani] CHECK CONSTRAINT [FK_HastaTani_DoktorID]
GO
ALTER TABLE [dbo].[tblHastaTani]  WITH CHECK ADD  CONSTRAINT [FK_HastaTani_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHastaTani] CHECK CONSTRAINT [FK_HastaTani_HastaTC]
GO
ALTER TABLE [dbo].[tblHastaTani]  WITH CHECK ADD  CONSTRAINT [FK_HastaTani_TaniID] FOREIGN KEY([taniID])
REFERENCES [dbo].[tblTanilar] ([taniID])
GO
ALTER TABLE [dbo].[tblHastaTani] CHECK CONSTRAINT [FK_HastaTani_TaniID]
GO
ALTER TABLE [dbo].[tblHastaTedavi]  WITH CHECK ADD  CONSTRAINT [FK_HastaTedavi_DoktorID] FOREIGN KEY([doktorID])
REFERENCES [dbo].[tblDoktorlar] ([doktorID])
GO
ALTER TABLE [dbo].[tblHastaTedavi] CHECK CONSTRAINT [FK_HastaTedavi_DoktorID]
GO
ALTER TABLE [dbo].[tblHastaTedavi]  WITH CHECK ADD  CONSTRAINT [FK_HastaTedavi_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHastaTedavi] CHECK CONSTRAINT [FK_HastaTedavi_HastaTC]
GO
ALTER TABLE [dbo].[tblHastaTedavi]  WITH CHECK ADD  CONSTRAINT [FK_HastaTedavi_IlacID] FOREIGN KEY([ilacID])
REFERENCES [dbo].[tblIlaclar] ([ilacID])
GO
ALTER TABLE [dbo].[tblHastaTedavi] CHECK CONSTRAINT [FK_HastaTedavi_IlacID]
GO
ALTER TABLE [dbo].[tblOlcekSonuc]  WITH CHECK ADD  CONSTRAINT [FK_OlcekSonuc_DoktorID] FOREIGN KEY([doktorID])
REFERENCES [dbo].[tblDoktorlar] ([doktorID])
GO
ALTER TABLE [dbo].[tblOlcekSonuc] CHECK CONSTRAINT [FK_OlcekSonuc_DoktorID]
GO
ALTER TABLE [dbo].[tblOlcekSonuc]  WITH CHECK ADD  CONSTRAINT [FK_OlcekSonuc_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOlcekSonuc] CHECK CONSTRAINT [FK_OlcekSonuc_HastaTC]
GO
ALTER TABLE [dbo].[tblOlcekSonuc]  WITH CHECK ADD  CONSTRAINT [FK_OlcekSonuc_OlcekID] FOREIGN KEY([olcekID])
REFERENCES [dbo].[tblOlcekler] ([olcekID])
GO
ALTER TABLE [dbo].[tblOlcekSonuc] CHECK CONSTRAINT [FK_OlcekSonuc_OlcekID]
GO
ALTER TABLE [dbo].[tblRandevuNotlari]  WITH CHECK ADD  CONSTRAINT [FK_RandevuNotlari_DoktorID] FOREIGN KEY([doktorID])
REFERENCES [dbo].[tblDoktorlar] ([doktorID])
GO
ALTER TABLE [dbo].[tblRandevuNotlari] CHECK CONSTRAINT [FK_RandevuNotlari_DoktorID]
GO
ALTER TABLE [dbo].[tblRandevuNotlari]  WITH CHECK ADD  CONSTRAINT [FK_RandevuNotlari_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblRandevuNotlari] CHECK CONSTRAINT [FK_RandevuNotlari_HastaTC]
GO
ALTER TABLE [dbo].[tblRandevuNotlari]  WITH CHECK ADD  CONSTRAINT [FK_RandevuNotlari_RandevuTarihID] FOREIGN KEY([randevuTarihID])
REFERENCES [dbo].[tblRandevuTarihi] ([randevuTarihID])
GO
ALTER TABLE [dbo].[tblRandevuNotlari] CHECK CONSTRAINT [FK_RandevuNotlari_RandevuTarihID]
GO
ALTER TABLE [dbo].[tblRandevuTarihi]  WITH CHECK ADD  CONSTRAINT [FK_RandevuTarihi_DoktorID] FOREIGN KEY([doktorID])
REFERENCES [dbo].[tblDoktorlar] ([doktorID])
GO
ALTER TABLE [dbo].[tblRandevuTarihi] CHECK CONSTRAINT [FK_RandevuTarihi_DoktorID]
GO
ALTER TABLE [dbo].[tblRandevuTarihi]  WITH CHECK ADD  CONSTRAINT [FK_RandevuTarihi_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblRandevuTarihi] CHECK CONSTRAINT [FK_RandevuTarihi_HastaTC]
GO
ALTER TABLE [dbo].[tblRandevuTarihi]  WITH CHECK ADD  CONSTRAINT [FK_RandevuTarihi_SaatID] FOREIGN KEY([saatID])
REFERENCES [dbo].[tblRandevuSaatler] ([saatID])
GO
ALTER TABLE [dbo].[tblRandevuTarihi] CHECK CONSTRAINT [FK_RandevuTarihi_SaatID]
GO
ALTER TABLE [dbo].[tblTestAltKumeler]  WITH CHECK ADD  CONSTRAINT [FK_TestAltKumeler_TestID] FOREIGN KEY([testID])
REFERENCES [dbo].[tblTestler] ([testID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTestAltKumeler] CHECK CONSTRAINT [FK_TestAltKumeler_TestID]
GO
ALTER TABLE [dbo].[tblTestSonuc]  WITH CHECK ADD  CONSTRAINT [FK_TestSonuc_HastaTC] FOREIGN KEY([hastaTC])
REFERENCES [dbo].[tblHastalar] ([hastaTC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTestSonuc] CHECK CONSTRAINT [FK_TestSonuc_HastaTC]
GO
ALTER TABLE [dbo].[tblTestSonuc]  WITH CHECK ADD  CONSTRAINT [FK_TestSonuc_PsikologID] FOREIGN KEY([psikologID])
REFERENCES [dbo].[tblPsikologlar] ([psikologID])
GO
ALTER TABLE [dbo].[tblTestSonuc] CHECK CONSTRAINT [FK_TestSonuc_PsikologID]
GO
ALTER TABLE [dbo].[tblTestSonuc]  WITH CHECK ADD  CONSTRAINT [FK_TestSonuc_TestID] FOREIGN KEY([testID])
REFERENCES [dbo].[tblTestler] ([testID])
GO
ALTER TABLE [dbo].[tblTestSonuc] CHECK CONSTRAINT [FK_TestSonuc_TestID]
GO
ALTER TABLE [dbo].[tblAileBilgileri]  WITH CHECK ADD  CONSTRAINT [CHK_AileTipi] CHECK  (([aileTipi]='Parçalanmış' OR [aileTipi]='Geniş' OR [aileTipi]='Çekirdek'))
GO
ALTER TABLE [dbo].[tblAileBilgileri] CHECK CONSTRAINT [CHK_AileTipi]
GO
ALTER TABLE [dbo].[tblAileBilgileri]  WITH CHECK ADD  CONSTRAINT [CHK_AnneYas] CHECK  (([anneYas]>=(15) AND [anneYas]<=(120) OR [anneYas] IS NULL))
GO
ALTER TABLE [dbo].[tblAileBilgileri] CHECK CONSTRAINT [CHK_AnneYas]
GO
ALTER TABLE [dbo].[tblAileBilgileri]  WITH CHECK ADD  CONSTRAINT [CHK_BabaYas] CHECK  (([babaYas]>=(15) AND [babaYas]<=(120) OR [babaYas] IS NULL))
GO
ALTER TABLE [dbo].[tblAileBilgileri] CHECK CONSTRAINT [CHK_BabaYas]
GO
ALTER TABLE [dbo].[tblAileBilgileri]  WITH CHECK ADD  CONSTRAINT [CHK_EbeveynDurumu] CHECK  (([ebeveynDurumu]='Vefat' OR [ebeveynDurumu]='Ayrı' OR [ebeveynDurumu]='Boşanmış' OR [ebeveynDurumu]='Evli'))
GO
ALTER TABLE [dbo].[tblAileBilgileri] CHECK CONSTRAINT [CHK_EbeveynDurumu]
GO
ALTER TABLE [dbo].[tblDoktorlar]  WITH CHECK ADD  CONSTRAINT [CHK_DoktorGorevTarihleri] CHECK  (([doktorKurumBaslangicTarih]<=CONVERT([date],getdate()) AND [doktorKurumAyrilisTarih] IS NULL OR [doktorKurumBaslangicTarih]<[doktorKurumAyrilisTarih]))
GO
ALTER TABLE [dbo].[tblDoktorlar] CHECK CONSTRAINT [CHK_DoktorGorevTarihleri]
GO
ALTER TABLE [dbo].[tblGelisimselOyku]  WITH CHECK ADD  CONSTRAINT [CHK_DogumAnneYas] CHECK  (([dogumAnneYasi]>=(15)))
GO
ALTER TABLE [dbo].[tblGelisimselOyku] CHECK CONSTRAINT [CHK_DogumAnneYas]
GO
ALTER TABLE [dbo].[tblGelisimselOyku]  WITH CHECK ADD  CONSTRAINT [CHK_DogumBabaYas] CHECK  (([dogumBabaYasi]>=(15)))
GO
ALTER TABLE [dbo].[tblGelisimselOyku] CHECK CONSTRAINT [CHK_DogumBabaYas]
GO
ALTER TABLE [dbo].[tblGelisimselOyku]  WITH CHECK ADD  CONSTRAINT [CHK_DogumHaftasi] CHECK  (([dogumHaftasi]>=(20) AND [dogumHaftasi]<=(45)))
GO
ALTER TABLE [dbo].[tblGelisimselOyku] CHECK CONSTRAINT [CHK_DogumHaftasi]
GO
ALTER TABLE [dbo].[tblGelisimselOyku]  WITH CHECK ADD  CONSTRAINT [CHK_DogumSekli] CHECK  (([dogumSekli]='Sezaryen' OR [dogumSekli]='NSVY'))
GO
ALTER TABLE [dbo].[tblGelisimselOyku] CHECK CONSTRAINT [CHK_DogumSekli]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaBasvuruYasi18AltiMi] CHECK  ((dateadd(year,(18),[hastaDogumTarihi])>[hastaBasvuruTarihi]))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaBasvuruYasi18AltiMi]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaBoy] CHECK  (([hastaBoy]>(0)))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaBoy]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaCinsiyet] CHECK  (([hastaCinsiyet]='Kadın' OR [hastaCinsiyet]='Erkek'))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaCinsiyet]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaDogumTarihi] CHECK  (([hastaDogumTarihi]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaDogumTarihi]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaKilo] CHECK  (([hastaKilo]>(0)))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaKilo]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaOkulBasarisi] CHECK  (([hastaOkulBasarisi]='Yüksek' OR [hastaOkulBasarisi]='Orta' OR [hastaOkulBasarisi]='Düşük'))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaOkulBasarisi]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaSinif] CHECK  (([hastaSinif]>=(0) AND [hastaSinif]<=(12)))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaSinif]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaTCFormat] CHECK  ((len([hastaTC])=(11) AND NOT [hastaTC] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaTCFormat]
GO
ALTER TABLE [dbo].[tblHastalar]  WITH CHECK ADD  CONSTRAINT [CHK_HastaTel] CHECK  ((len([hastaTel])=(11) AND NOT [hastaTel] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[tblHastalar] CHECK CONSTRAINT [CHK_HastaTel]
GO
ALTER TABLE [dbo].[tblHastaTedavi]  WITH CHECK ADD  CONSTRAINT [CHK_TedaviTarihSirasi] CHECK  (([ilacBitisTarihi]>=[ilacBaslangicTarihi]))
GO
ALTER TABLE [dbo].[tblHastaTedavi] CHECK CONSTRAINT [CHK_TedaviTarihSirasi]
GO
ALTER TABLE [dbo].[tblRandevuTarihi]  WITH CHECK ADD  CONSTRAINT [CHK_RandevuDurum] CHECK  (([randevuDurum]='Gelmedi' OR [randevuDurum]='İptal' OR [randevuDurum]='Tamamlandı' OR [randevuDurum]='Planlandı'))
GO
ALTER TABLE [dbo].[tblRandevuTarihi] CHECK CONSTRAINT [CHK_RandevuDurum]
GO
ALTER TABLE [dbo].[tblRandevuTarihi]  WITH CHECK ADD  CONSTRAINT [CHK_RandevuTarihGecmisMi] CHECK  (([randevuTarih]>=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[tblRandevuTarihi] CHECK CONSTRAINT [CHK_RandevuTarihGecmisMi]
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_DoktorRandevulari] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DOKTORUN GÜNLÜK RANDEVULARI
CREATE PROCEDURE [dbo].[sp_DoktorRandevulari]

@DoktorID SMALLINT,

@Tarih DATE

AS

BEGIN

SELECT *

FROM tblRandevuTarihi

WHERE doktorID=@DoktorID

AND randevuTarih=@Tarih

END
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaAktifEt] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HastaAktifEt]
    @hastaTC CHAR(11)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM tblHastalar WHERE hastaTC = @hastaTC)
    BEGIN
        RAISERROR('Bu TC kimlik numarasına ait hasta bulunamadı.',16,1);
        RETURN;
    END

    UPDATE tblHastalar
    SET hastaAktif = 1
    WHERE hastaTC = @hastaTC;
END

GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaBilgisi] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--HASTA BİLGİSİ GETİR
CREATE PROCEDURE [dbo].[sp_HastaBilgisi]

@TC CHAR(11)

AS

BEGIN

SELECT *

FROM tblHastalar

WHERE hastaTC=@TC

END
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaGuncelle] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HastaGuncelle]
    @hastaTC CHAR(11),
    @hastaAd NVARCHAR(100),
    @hastaSoyad NVARCHAR(100),
    @hastaTel CHAR(11),
    @hastaAdres NVARCHAR(250),
    @hastaCinsiyet NVARCHAR(20),
    @hastaDogumTarihi DATE,
    @hastaOkul NVARCHAR(200),
    @hastaSinif TINYINT,
    @hastaOkulBasarisi NVARCHAR(10),
    @hastaBoy TINYINT,
    @hastaKilo TINYINT,
    @hastaYonlendiren NVARCHAR(100),
    @hastaBasvuruNedeni NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM tblHastalar WHERE hastaTC = @hastaTC)
    BEGIN
        RAISERROR('Bu TC kimlik numarasına ait hasta bulunamadı.',16,1);
        RETURN;
    END

    UPDATE tblHastalar
    SET hastaAd = @hastaAd,
        hastaSoyad = @hastaSoyad,
        hastaTel = @hastaTel,
        hastaAdres = @hastaAdres,
        hastaCinsiyet = @hastaCinsiyet,
        hastaDogumTarihi = @hastaDogumTarihi,
        hastaOkul = @hastaOkul,
        hastaSinif = @hastaSinif,
        hastaOkulBasarisi = @hastaOkulBasarisi,
        hastaBoy = @hastaBoy,
        hastaKilo = @hastaKilo,
        hastaYonlendiren = @hastaYonlendiren,
        hastaBasvuruNedeni = @hastaBasvuruNedeni
    WHERE hastaTC = @hastaTC;
END

GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaKaydet] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--STORED PROCEDURE
--SP HASTA KAYDET
CREATE PROCEDURE [dbo].[sp_HastaKaydet]
    @hastaTC CHAR(11),
    @hastaAd NVARCHAR(50),
    @hastaSoyad NVARCHAR(50),
    @hastaTel VARCHAR(15),
    @hastaAdres NVARCHAR(200),
    @hastaCinsiyet NVARCHAR(10),
    @hastaDogumTarihi DATE,
    @hastaOkul NVARCHAR(100),
    @hastaSinif INT,
    @hastaOkulBasarisi NVARCHAR(20),
    @hastaBoy DECIMAL(5,2),
    @hastaKilo DECIMAL(5,2),
    @hastaYonlendiren NVARCHAR(100),
    @hastaBasvuruNedeni NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM tblHastalar
        WHERE hastaTC = @hastaTC
    )
    BEGIN
        RAISERROR('Bu TC kimlik numarasına ait hasta zaten kayıtlıdır.',16,1);
        RETURN;
    END

    INSERT INTO tblHastalar
    (
        hastaTC,hastaAd,hastaSoyad,hastaTel,hastaAdres,hastaCinsiyet,
        hastaDogumTarihi,hastaOkul,hastaSinif,hastaOkulBasarisi,
        hastaBoy,hastaKilo,hastaYonlendiren,hastaBasvuruNedeni
    )
    VALUES
    (
        @hastaTC,@hastaAd,@hastaSoyad,@hastaTel,@hastaAdres,@hastaCinsiyet,
        @hastaDogumTarihi,@hastaOkul,@hastaSinif,@hastaOkulBasarisi,
        @hastaBoy,@hastaKilo,@hastaYonlendiren,@hastaBasvuruNedeni
    );

    PRINT 'Hasta başarıyla kaydedildi.';
END;
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaPasifeAl] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HastaPasifeAl]
    @hastaTC CHAR(11)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM tblHastalar WHERE hastaTC = @hastaTC)
    BEGIN
        RAISERROR('Bu TC kimlik numarasına ait hasta bulunamadı.',16,1);
        RETURN;
    END

    UPDATE tblHastalar
    SET hastaAktif = 0
    WHERE hastaTC = @hastaTC;
END

GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaSil] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_HastaSil]
    @hastaTC CHAR(11)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM tblHastalar WHERE hastaTC = @hastaTC)
    BEGIN
        RAISERROR('Bu TC kimlik numarasına ait hasta bulunamadı.',16,1);
        RETURN;
    END

    DELETE FROM tblHastalar WHERE hastaTC = @hastaTC;
END

GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaTanilari] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--HASTANIN TANILARI
CREATE PROCEDURE [dbo].[sp_HastaTanilari]

@TC CHAR(11)

AS

BEGIN

SELECT

T.taniAdi,

HT.taniTarih

FROM tblHastaTani HT

INNER JOIN tblTanilar T

ON HT.taniID=T.taniID

WHERE HT.hastaTC=@TC

END
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_HastaTedavi] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--HASTANIN TEDAVİLERİ
CREATE PROCEDURE [dbo].[sp_HastaTedavi]

@TC CHAR(11)

AS

BEGIN

SELECT
H.hastaAd,
H.hastaSoyad,
I.ilacAdi,
T.ilacDozu,
T.ilacBaslangicTarihi,
T.ilacBitisTarihi

FROM tblHastaTedavi T

INNER JOIN tblHastalar H
ON T.hastaTC=H.hastaTC

INNER JOIN tblIlaclar I
ON T.ilacID=I.ilacID

WHERE H.hastaTC=@TC

END
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_RandevuOlustur] Betik Tarihi: 28.07.2026 12:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP RANDEVU OLUŞTUR
CREATE PROCEDURE [dbo].[sp_RandevuOlustur]

@TC CHAR(11),

@DoktorID SMALLINT,

@SaatID TINYINT,

@Tarih DATE

AS

BEGIN
    SET NOCOUNT ON;

    IF EXISTS

    (

    SELECT *

    FROM tblRandevuTarihi

    WHERE doktorID=@DoktorID

    AND saatID=@SaatID

    AND randevuTarih=@Tarih

    )

    BEGIN

    RAISERROR('Bu saatte randevu bulunmaktadır.',16,1)

    RETURN
END

INSERT INTO tblRandevuTarihi

(hastaTC,doktorID,saatID,randevuTarih,randevuDurum)

VALUES

(@TC,@DoktorID,@SaatID,@Tarih,'Planlandı')

END
GO
USE [master]
GO
